.header-container{
    width: 35%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    font-family: 'Libre Caslon Display', serif;
    font-size: 1.8em;
    color: white;
    padding: 1em;

}

.img-foto{ /** imagem do perfil **/
    width: 7em;
    height: 7em;
    border-radius: 50%;
    position: absolute;
    left: 2em;
    top: 5em;
}

.icons-ul-header li{ /** icones do header **/
    
    width: 2em;
    height: 2em;
    display: inline-block;
    list-style-type: none;
    margin-right: 2em;


}

.div-container{
    width: 65%;
    height: 100%;
    background: orange;
    position: fixed;
    left: 35%;
    top: 0;
    box-sizing: border-box;
    overflow: auto;
    background-image: linear-gradient(blueviolet, darkblue);
    background-attachment: fixed;
}