@keyframes opac{
    0%{
    opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


body{
    font-family: 'Libre Caslon Display', serif;
}

.header-container{
    width: 35%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    font-family: 'Libre Caslon Display', serif;
    font-size: 1.8em;
    color: white;
    background-image: url(../image/fundo-verde-favo-de-mel-tecnologico_23-2148261845.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.header-container h1{
    position: absolute;
    top: .5em;
    left: 1.6em;
    text-shadow: 2px 2px .5px black;
    animation: opac 4s ease;
    font-family: 'Great Vibes', cursive;
}

#para-header{
    font-size: .8em;
    color: white;
    letter-spacing: 2px;
    position: absolute;
    top: 7em;
    left: .8em;
    font-family: 'Bad Script', cursive;
    text-shadow: -2px 2px .5px black;
    margin: 0;
    animation: opac 6s ease-in;

}


                /**icons header  **/

.icons-ul-header{ 
    position: absolute;
    bottom: .5em;
    left: 2em;
    
}

.icons-ul-header li{ 
    list-style-type: none;
    display: inline-block;
    margin-right: 70px;
    
} 

.fab{       
    font-size: 1.3em;
    color: silver;
   
}

.fab:hover{         
    color: green;
}


                /** nav header  **/

.nav-header{    
    width: 11em;
    height: 3em;
    position: absolute;
    top: 11em;
    right: 5em;
    
    
}

.link-ul-nav li{
    padding: 3px 12px;
    display: inline-block;
    list-style-type: none;
    margin-bottom: 1em;
    border: 1px solid white;
    box-shadow: 3px 2px .5px white;
  
}


.link-ul-nav li:nth-child(1){
    transform: translate(0px);
   
}

.link-ul-nav li:nth-child(2){
    transform: translate(50px);
    
}

.link-ul-nav li:nth-child(3){
    transform: translate(100px);
    
}

.link-ul-nav a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.link-ul-nav a:hover{
    color: rgb(6, 236, 6);
}



                /** MAIN  **/

.div-container{
    width: 65%;
    height: 100%;
    position: absolute;
    left: 35%;
    top: 0;
    box-sizing: border-box;
    overflow: auto;
    
}

.div-container{
    background-image: url(../image/fundo-de-forma-geometrica-gradiente_78532-306.jpg);
    background-attachment: fixed; 
    background-repeat: no-repeat;
    background-size: cover;  
}


.main-container{
    width: 95%;
    margin: auto;
    padding:  0 1em;

}


p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    color: black;
    line-height: 2;
    letter-spacing: 1.3px;
    text-align: center;
    padding: 1em;
}

/** SEÇÃO DO HTML  **/

#sect-html{
    width: 100%;
    height: 230vh;
    background: rgba(255, 255, 255, .1);
}

.art-html{
    width: 100%;

}

.art-html img{
    width: 30%;
    height: 30%;
    margin: .5em 36%;
    padding: 40px 0;
}



.art-html pre{
    color: black;
    font-size: 1.1em;
}

/** SEÇÃO DO CSS  **/

#sect-css{
    width: 100%;
    height: 210vh;
    background: rgba(255, 255, 255, 0.1);
}

.art-css{
    width: 100%; 
}

.art-css img{
    width: 30%;
    height: 30%;
    margin: .5em 36%;
    padding: 40px 0;
    
}


/** SEÇÃO DO JAVASCRIPT  **/


#sect-js{
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    transition: all 4s ease;
}

.art-js{
    width: 100%; 
}

.art-js img{
    width: 30%;
    height: 30%;
    margin: .5em 36%;
    padding: 40px 0;
    
}


.footer-container{
    width: 100%;
    height: 4em;
    background-color: black;
   
}

#para-footer{
    padding: 15px 0 5px;
    color: white;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

}